body {
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png"); 
  background-color: rgb(125, 156, 196);
   /* font-family: 'Tangerine', cursive; */
 }

 .logo {
  margin: auto;
  text-align: center;
}

.logo img{
  width: 25%;
  height: auto;
}

#card-body {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#housedStudents {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}



.card-img-top {
  padding: 15px;
  align-items: center;
  width: auto !important;
  height: 185px !important;
  }

  .expelledStudentsArmy{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  
  .expelledStudents{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  